@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*body content*/

.rowC{
    width: 100%;
    height: 775px;
    background-image: url('/assets/images/Web\ 1920\ –\ 1.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    flex-basis: 50%;
    min-width: 300px;
    margin-left: 30%;
}


.title h3{
    color: white;
    font-size: 2.5rem;
    font-family: poppins;
    left: 33%;
    position: absolute;
    top: 25%;
    letter-spacing: 0.1rem;
}

.title p{
    color: white;
    font-family: poppins;
    font-size: 0.7rem;
    margin: 0.1rem ;
    top: 32%;
    left: 37%;
    position: absolute;
}

 .car_search_form {
     width: 100%;
    background: none;
    padding: 0.6rem;
    gap: 1rem;
}

.car_search_form select{
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 45px;
    font-family: poppins;
    font-size: 0.8rem;
}


.btn{
    display: inline-block;
    background:rgb(0, 87, 169);
    color: rgb(255, 255, 255);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    font-family: poppins;
}

.btn:hover{
    background: #0088a9;
    font-family: poppins;
}

.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: 0;
}
.search{
    margin: auto;
    width: 50%;
    background-color: #0087a928;
    display: flex;
    backdrop-filter: blur(12px);
    border-radius: 1rem;
}

.WhyChooseUs{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 3%;
    background-color: #0088a9;
}

.WhyChooseUs h1{
    color: #ffffff;
    font-family: poppins;
    font-size: 2rem;
    padding-bottom: 0.5%;
    letter-spacing: 0.1rem;
}

.WhyChooseUs p{
    color: #ffffffa4;
    font-family: poppins;
    font-size: 1rem;
    
}


.rowW{
    display: flex;
    justify-content: space-between;
    
}

.choose_col {
    padding-right: 50%;
    color: rgb(255, 255, 255);
    font-family: poppins;
    font-size: 1rem;
    margin-top: 1.5rem;
    flex-basis: 31%;
    margin-bottom: 5%;
    padding: 20px 12px;
}

.rowF {
    display: flex;
    justify-content: space-between;
}

.facilities{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;

}

.facilities h2{
    font-family: poppins;
    font-size: 2rem;
    padding-bottom: 1%;
    color: #0088a9;
}

.img_wrapper{
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

.facilities p{
    font-family: poppins;
    font-size: 1rem;
    padding-bottom: 2%;
    color: #5e7e86d0;
}


.facilities_col{
    border-radius: 10px;
    margin-bottom: 5%;
    flex-basis: 31%;
}

.facilities_col img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.facilities_col p{
    padding: 0;
    font-size: 1rem;
    padding-bottom: 2%;
}

.facilities_col h2{
    margin-top: 16px;
    margin-bottom: 15px;
    right: 1rem;
}

.facilities_col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    font-family: poppins;
    font-size: 1.1rem;
}

.page_content_wrapper h2{
    width: 100%;
    text-align: center;
    padding: 60px 0 60px 0;
    color: #ffffff;
    padding: 30px 0 30px 0;
    margin: auto;
    background-color: rgb(0, 87, 169);
}
.page_content_wrapper p{
    width: 100%;
    text-align: center;
    padding: 60px 0 60px 0;
    color: #ffffff;
    padding: 30px 0 30px 0;
    margin: auto;
    background-color: rgb(0, 87, 169);
}
.page_content_wrapper i{
    width: 31.35px;
    height: 27.35px;
    
    background-color: rgb(0, 87, 169);

}



@media (max-width: 1100px) {
    .search{
        width: 90%;
    }
}

@media (max-width: 800px) {
    .WhyChooseUs {
        padding: 5%;
        overflow: hidden;
    }

    
    .title h3{
        color: white;
        font-size: 1.4rem;
        font-family: poppins;
        left: 10%;
        position: absolute;
        top: 15%;
    }

   

   

    .rowW{
        flex-direction: column;
    }

    footer{
        bottom:unset;
    }
    .row{
        flex-direction: column;
    }
    .standard_wrapper{
        width: 100%;
        padding: 0 10%;
    }
    .search{
        width: 90%;
        flex-direction: column;
    }

    .facilities_col{
        width: 80vw;
    }

    .cta{
        display: none;
    }
    
    .rowF{
        flex-direction: column;
    }

    .car_search_form{
        justify-content: space-between;
        gap: 1rem;
        flex-direction: column;

    }

    #title_p{
        display: none;
    }

    .facilities_col img{
        width: 70%;
    }
    .facilities_col p {
        font-size: 0.8rem;
    }
    .facilities_col h2 {
        font-size: 0.8rem; 
    }
    .facilities_col h3{
        font-size: 1rem; 
    }
}    